path,value
"customer/account_share/scope","0"
"customer/online_customers/online_minutes_interval",NULL
"customer/create_account/auto_group_assign","0"
"customer/create_account/default_group","1"
"customer/create_account/viv_disable_auto_group_assign_default","0"
"customer/create_account/vat_frontend_visibility","0"
"customer/create_account/email_domain","example.com"
"customer/create_account/email_template","customer_create_account_email_template"
"customer/create_account/email_identity","general"
"customer/create_account/confirm","0"
"customer/create_account/email_confirmation_template","customer_create_account_email_confirmation_template"
"customer/create_account/email_confirmed_template","customer_create_account_email_confirmed_template"
"customer/create_account/generate_human_friendly_id","0"
"customer/password/forgot_email_template","customer_password_forgot_email_template"
"customer/password/remind_email_template","customer_password_remind_email_template"
"customer/password/forgot_email_identity","support"
"customer/password/reset_link_expiration_period","1"
"customer/address/street_lines","2"
"customer/address/prefix_show",NULL
"customer/address/prefix_options",NULL
"customer/address/middlename_show","0"
"customer/address/suffix_show",NULL
"customer/address/suffix_options",NULL
"customer/address/dob_show",NULL
"customer/address/taxvat_show",NULL
"customer/address/gender_show",NULL
"customer/startup/redirect_dashboard","1"
"customer/address_templates/text","{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}
{{depend company}}{{var company}}{{/depend}}
{{if street1}}{{var street1}}
{{/if}}
{{depend street2}}{{var street2}}{{/depend}}
{{depend street3}}{{var street3}}{{/depend}}
{{depend street4}}{{var street4}}{{/depend}}
{{if city}}{{var city}},  {{/if}}{{if region}}{{var region}}, {{/if}}{{if postcode}}{{var postcode}}{{/if}}
{{var country}}
T: {{var telephone}}
{{depend fax}}F: {{var fax}}{{/depend}}
{{depend vat_id}}VAT: {{var vat_id}}{{/depend}}"
"customer/address_templates/oneline","{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}, {{var street}}, {{var city}}, {{var region}} {{var postcode}}, {{var country}}"
"customer/address_templates/html","{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}<br/>
{{depend company}}{{var company}}<br />{{/depend}}
{{if street1}}{{var street1}}<br />{{/if}}
{{depend street2}}{{var street2}}<br />{{/depend}}
{{depend street3}}{{var street3}}<br />{{/depend}}
{{depend street4}}{{var street4}}<br />{{/depend}}
{{if city}}{{var city}},  {{/if}}{{if region}}{{var region}}, {{/if}}{{if postcode}}{{var postcode}}{{/if}}<br/>
{{var country}}<br/>
{{depend telephone}}T: {{var telephone}}{{/depend}}
{{depend fax}}<br/>F: {{var fax}}{{/depend}}
{{depend vat_id}}<br/>VAT: {{var vat_id}}{{/depend}}"
"customer/address_templates/pdf","{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}|
{{depend company}}{{var company}}|{{/depend}}
{{if street1}}{{var street1}}
{{/if}}
{{depend street2}}{{var street2}}|{{/depend}}
{{depend street3}}{{var street3}}|{{/depend}}
{{depend street4}}{{var street4}}|{{/depend}}
{{if city}}{{var city}},|{{/if}}
{{if region}}{{var region}}, {{/if}}{{if postcode}}{{var postcode}}{{/if}}|
{{var country}}|
{{depend telephone}}T: {{var telephone}}{{/depend}}|
{{depend fax}}<br/>F: {{var fax}}{{/depend}}|
{{depend vat_id}}<br/>VAT: {{var vat_id}}{{/depend}}|"
"customer/address_templates/js_template","#{prefix} #{firstname} #{middlename} #{lastname} #{suffix}<br/>#{company}<br/>#{street0}<br/>#{street1}<br/>#{street2}<br/>#{street3}<br/>#{city}, #{region}, #{postcode}<br/>#{country_id}<br/>T: #{telephone}<br/>F: #{fax}<br/>VAT: #{vat_id}"
"customer/captcha/enable","0"