path,value
"web/url/use_store","0"
"web/url/redirect_to_base","1"
"web/seo/use_rewrites","1"
"web/unsecure/base_url","http://store.mage.dev/"
"web/secure/base_url","http://store.mage.dev/"
"web/secure/use_in_frontend","0"
"web/secure/use_in_adminhtml","0"
"web/secure/offloader_header","SSL_OFFLOADED"
"web/default/front","cms"
"web/default/cms_home_page","home"
"web/default/no_route","cms/index/noRoute"
"web/default/cms_no_route","no-route"
"web/default/cms_no_cookies","enable-cookies"
"web/default/show_cms_breadcrumbs","1"
"web/polls/poll_check_by_ip","0"
"web/cookie/cookie_lifetime","3600"
"web/cookie/cookie_path",NULL
"web/cookie/cookie_domain",NULL
"web/cookie/cookie_httponly","1"
"web/cookie/cookie_restriction","0"
"web/session/use_remote_addr","0"
"web/session/use_http_via","0"
"web/session/use_http_x_forwarded_for","0"
"web/session/use_http_user_agent","0"
"web/session/use_frontend_sid","1"
"web/browser_capabilities/cookies","1"
"web/browser_capabilities/javascript","1"
"general/locale/code","en_US"
"general/locale/timezone","America/Los_Angeles"
"general/locale/firstday","0"
"general/locale/weekend","0,6"
"general/country/default","US"
"general/country/allow","US"
"general/country/optional_zip_countries","US"
"general/region/display_all","1"
"general/region/state_required","US"
"general/store_information/name","WSU eCommerce Center"
"general/store_information/phone","NULL"
"general/store_information/merchant_country","US"
"general/store_information/merchant_vat_number","NULL"
"general/store_information/address","NULL"
"currency/options/base","USD"
"currency/options/default","USD"
"currency/options/allow","USD"
"admin/dashboard/enable_charts","0"
"admin/emails/forgot_email_template","admin_emails_forgot_email_template"
"admin/emails/forgot_email_identity","general"
"admin/emails/password_reset_link_expiration_period","1"
"admin/startup/page","dashboard"
"admin/url/use_custom","0"
"admin/url/use_custom_path","0"
"admin/security/use_form_key","1"
"admin/security/use_case_sensitive_login","0"
"admin/security/session_cookie_lifetime","NULL"
"admin/captcha/enable","0"
"storepartitions/basicsettings/active","1"
"storepartitions/general/showallproducts","0"
"storepartitions/general/showallcustomers","1"
"storepartitions/general/allowdelete","0"
"storepartitions/general/allowdelete_perwebsite","0"
"storepartitions/su/enable","0"
"storepartitions/su/email",NULL
"dev/restrict/allow_ips",NULL
"dev/debug/profiler","1"
"dev/template/allow_symlink","0"
"dev/translate_inline/active","0"
"dev/translate_inline/active_admin","0"
"dev/log/active","1"
"dev/log/file","system.log"
"dev/log/exception_file","exception.log"
"dev/js/merge_files","1"
"dev/css/merge_css_files","1"
"crontab/jobs/log_clean/schedule/cron_expr",NULL
"crontab/jobs/log_clean/run/model","log/cron::logClean"
"system/cron/schedule_generate_every","15"
"system/cron/schedule_ahead_for","20"
"system/cron/schedule_lifetime","15"
"system/cron/history_cleanup_every","10"
"system/cron/history_success_lifetime","60"
"system/cron/history_failure_lifetime","600"
"system/currency/installed","USD"
"system/log/clean_after_day","180"
"system/log/enabled","0"
"system/log/time","00,00,00"
"system/log/frequency","D"
"system/log/error_email",NULL
"system/log/error_email_identity","general"
"system/log/error_email_template","system_log_error_email_template"
"system/adminnotification/use_https","0"
"system/adminnotification/frequency","1"
"system/external_page_cache/enabled","1"
"system/external_page_cache/cookie_lifetime","3600"
"system/external_page_cache/control","zend_page_cache"
"system/backup/enabled","0"
"system/media_storage_configuration/media_storage","0"
"system/media_storage_configuration/media_database","default_setup"
"system/media_storage_configuration/configuration_update_time","3600"
"system/aoeasynccache/select_limit","0"
"system/aoeasynccache/scheduler_cron_expr","*/15 * * * *"
"system/smtp/disable","0"
"system/smtp/host","localhost"
"system/smtp/port","25"
"system/smtp/set_return_path","0"
"system/googlesettings/email",null
"system/googlesettings/gpassword",null
"system/smtpsettings/smtpsettings","none"
"system/smtpsettings/username",null
"system/smtpsettings/password",null
"system/smtpsettings/host","mail.wsu.edu"
"system/smtpsettings/port","25"
"system/smtpsettings/ssl","none"
"system/mailingservices/option","smtp"
"system/mailingservices/store_addresses","0"
"system/mailingservices/development","disabled"
"system/mailingservices/logenabled","1"
"system/contacts/enabled","1"
"system/contacts/recipient_email","jeremy.bass@wsu.edu"
"system/contacts/sender_email_identity","custom2"
"system/contacts/email_template","contacts_email_email_template"
"admin/aoe_filepicker/apikey","Ang5LopT2QEK4xtU91zxnz"
"admin/aoe_filepicker/services","filepicker.SERVICES.BOX,filepicker.SERVICES.COMPUTER,filepicker.SERVICES.DROPBOX,filepicker.SERVICES.FACEBOOK,filepicker.SERVICES.GITHUB,filepicker.SERVICES.GMAIL,filepicker.SERVICES.GOOGLE_DRIVE,filepicker.SERVICES.IMAGE_SEARCH,filepicker.SERVICES.URL,filepicker.SERVICES.WEBCAM"
"sharing_tool/general/enabled","1"
"sharing_tool/general/pubid","mcwsu"
"sharing_tool/button_style/button_set","style_1"
"sharing_tool/button_style/custom_button_url",NULL
"sharing_tool/api/services_exclude",NULL
"sharing_tool/api/services_compact",NULL
"sharing_tool/api/services_expanded",NULL
"sharing_tool/api/services_custom_name",NULL
"sharing_tool/api/services_custom_url",NULL
"sharing_tool/api/services_custom_icon",NULL
"sharing_tool/api/ui_click","1"
"sharing_tool/api/ui_delay",NULL
"sharing_tool/api/ui_hover_direction","0"
"sharing_tool/api/ui_open_windows","1"
"sharing_tool/api/ui_language","auto"
"sharing_tool/api/ui_offset_top",NULL
"sharing_tool/api/ui_offset_left",NULL
"sharing_tool/api/ui_header_color",NULL
"sharing_tool/api/ui_header_background",NULL
"sharing_tool/api/ui_cobrand","Wsu"
"sharing_tool/api/ui_use_css","1"
"sharing_tool/api/ui_use_addressbook","0"
"sharing_tool/api/ui_508_compliant","0"
"sharing_tool/api/data_track_clickback","1"
"sharing_tool/api/data_ga_tracker","UA-17815664-1"
"sharing_tool/custom_share/custom_url",NULL
"sharing_tool/custom_share/custom_title",NULL
"sharing_tool/custom_share/custom_description",NULL
