path,value
"advanced/modules_disable_output/AddThis_SharingTool","0"
"advanced/modules_disable_output/Mage_Admin","0"
"advanced/modules_disable_output/Mage_AdminNotification","0"
"advanced/modules_disable_output/Mage_Api","0"
"advanced/modules_disable_output/Mage_Api2","0"
"advanced/modules_disable_output/Mage_Authorizenet","1"
"advanced/modules_disable_output/Mage_Backup","0"
"advanced/modules_disable_output/Mage_Bundle","0"
"advanced/modules_disable_output/Mage_Captcha","0"
"advanced/modules_disable_output/Mage_Catalog","0"
"advanced/modules_disable_output/Mage_CatalogIndex","0"
"advanced/modules_disable_output/Mage_CatalogInventory","0"
"advanced/modules_disable_output/Mage_CatalogRule","0"
"advanced/modules_disable_output/Mage_CatalogSearch","0"
"advanced/modules_disable_output/Mage_Centinel","0"
"advanced/modules_disable_output/Mage_Checkout","0"
"advanced/modules_disable_output/Mage_Cms","0"
"advanced/modules_disable_output/Mage_Compiler","0"
"advanced/modules_disable_output/Mage_Connect","0"
"advanced/modules_disable_output/Mage_Contacts","0"
"advanced/modules_disable_output/Mage_Core","0"
"advanced/modules_disable_output/Mage_Cron","0"
"advanced/modules_disable_output/Mage_CurrencySymbol","0"
"advanced/modules_disable_output/Mage_Customer","0"
"advanced/modules_disable_output/Mage_Cybersource","0"
"advanced/modules_disable_output/Mage_Dataflow","0"
"advanced/modules_disable_output/Mage_Directory","0"
"advanced/modules_disable_output/Mage_Downloadable","0"
"advanced/modules_disable_output/Mage_Eav","0"
"advanced/modules_disable_output/Mage_GiftMessage","0"
"advanced/modules_disable_output/Mage_GoogleAnalytics","0"
"advanced/modules_disable_output/Mage_GoogleCheckout","0"
"advanced/modules_disable_output/Mage_ImportExport","0"
"advanced/modules_disable_output/Mage_Index","0"
"advanced/modules_disable_output/Mage_Install","0"
"advanced/modules_disable_output/Mage_Log","0"
"advanced/modules_disable_output/Mage_Media","0"
"advanced/modules_disable_output/Mage_Newsletter","1"
"advanced/modules_disable_output/Mage_Oauth","0"
"advanced/modules_disable_output/Mage_Page","0"
"advanced/modules_disable_output/Mage_PageCache","0"
"advanced/modules_disable_output/Mage_Paygate","0"
"advanced/modules_disable_output/Mage_Payment","0"
"advanced/modules_disable_output/Mage_Paypal","1"
"advanced/modules_disable_output/Mage_PaypalUk","1"
"advanced/modules_disable_output/Mage_Persistent","0"
"advanced/modules_disable_output/Mage_Poll","1"
"advanced/modules_disable_output/Mage_ProductAlert","0"
"advanced/modules_disable_output/Mage_Rating","0"
"advanced/modules_disable_output/Mage_Reports","0"
"advanced/modules_disable_output/Mage_Review","0"
"advanced/modules_disable_output/Mage_Rss","0"
"advanced/modules_disable_output/Mage_Rule","0"
"advanced/modules_disable_output/Mage_Sales","0"
"advanced/modules_disable_output/Mage_SalesRule","0"
"advanced/modules_disable_output/Mage_Sendfriend","0"
"advanced/modules_disable_output/Mage_Shipping","0"
"advanced/modules_disable_output/Mage_Sitemap","0"
"advanced/modules_disable_output/Mage_Tag","0"
"advanced/modules_disable_output/Mage_Tax","0"
"advanced/modules_disable_output/Mage_Usa","0"
"advanced/modules_disable_output/Mage_Weee","0"
"advanced/modules_disable_output/Mage_Widget","0"
"advanced/modules_disable_output/Mage_Wishlist","0"
"advanced/modules_disable_output/Mage_XmlConnect","1"
"advanced/modules_disable_output/Phoenix_Moneybookers","1"