path,value
"payment/paypal_express/active","0"
"payment/express/checkout/frontend/logo",""
"payment/ccsave/active","0"
"payment/ccsave/title","Credit Card (saved)"
"payment/ccsave/order_status","pending"
"payment/ccsave/cctypes","AE,VI,MC,DI"
"payment/ccsave/useccv","0"
"payment/ccsave/centinel","0"
"payment/ccsave/allowspecific","0"
"payment/ccsave/min_order_total",NULL
"payment/ccsave/max_order_total",NULL
"payment/ccsave/sort_order",NULL
"payment/banktransfer/active","0"
"payment/banktransfer/title","Bank Transfer Payment"
"payment/banktransfer/order_status","pending"
"payment/banktransfer/allowspecific","0"
"payment/banktransfer/instructions",NULL
"payment/banktransfer/min_order_total",NULL
"payment/banktransfer/max_order_total",NULL
"payment/banktransfer/sort_order",NULL
"payment/checkmo/active","1"
"payment/checkmo/title","Check / Money order"
"payment/checkmo/order_status","pending"
"payment/checkmo/allowspecific","0"
"payment/checkmo/payable_to",NULL
"payment/checkmo/mailing_address",NULL
"payment/checkmo/min_order_total",NULL
"payment/checkmo/max_order_total",NULL
"payment/checkmo/sort_order",NULL
"payment/cashondelivery/active","0"
"payment/cashondelivery/title","Cash On Delivery"
"payment/cashondelivery/order_status","pending"
"payment/cashondelivery/allowspecific","0"
"payment/cashondelivery/instructions",NULL
"payment/cashondelivery/min_order_total",NULL
"payment/cashondelivery/max_order_total",NULL
"payment/cashondelivery/sort_order",NULL
"payment/free/title","No Payment Information Required"
"payment/free/active","1"
"payment/free/order_status","pending"
"payment/free/allowspecific","0"
"payment/free/sort_order","1"
"payment/purchaseorder/active","0"
"payment/purchaseorder/title","Purchase Order"
"payment/purchaseorder/order_status","pending"
"payment/purchaseorder/allowspecific","0"
"payment/purchaseorder/min_order_total",NULL
"payment/purchaseorder/max_order_total",NULL
"payment/purchaseorder/sort_order",NULL
"payment/central_processing/active","1"
"payment/central_processing/title","Checking out with WSU\'s central payment system"
"payment/central_processing/merchant_id","7aReBr9K1O5VguV2Rm5Ilw=="
"payment/central_processing/security_key","7aReBr9K1O7tpF4Gv0rU7g=="
"payment/central_processing/payment_action","authorize_capture"
"payment/central_processing/order_status","processing"
"payment/central_processing/useccv","0"
"payment/central_processing/allowspecific","0"
"payment/central_processing/test","1"
"payment/central_processing/debug","1"
"payment/central_processing/sort_order",NULL
"payment/central_processing/cctypes","AE,VI,MC,DI"
"payment/central_processing/submit_url",NULL
"payment/centralprocessing/active","1"
"payment/centralprocessing/title","the payment everyone wants to pay"
"payment/centralprocessing/merchant_id","X6I+UcL6Lk4="
"payment/centralprocessing/security_key",NULL
"payment/centralprocessing/payment_action","authorize"
"payment/centralprocessing/order_status",NULL
"payment/centralprocessing/useccv","0"
"payment/centralprocessing/allowspecific","0"
"payment/centralprocessing/test","0"
"payment/centralprocessing/debug","0"
"payment/centralprocessing/submit_url",NULL
"payment/centralprocessing/sort_order",NULL
"payment/centralprocessing_express/active","1"
"payment/centralprocessing_express/title","Central processing Checkout"
"payment/centralprocessing_express/merchant_id","WSUPUBSMISC"
"payment/centralprocessing_express/security_key","K/wA4xvqJEYlnkDQzZNFlA=="
"payment/centralprocessing_express/payment_action","authorize"
"payment/centralprocessing_express/order_status","processing"
"payment/centralprocessing_express/useccv","0"
"payment/centralprocessing_express/allowspecific","0"
"payment/centralprocessing_express/test","1"
"payment/centralprocessing_express/debug","1"
"payment/centralprocessing_express/submit_url",NULL
"payment/centralprocessing_express/sort_order",NULL
"payment/centralprocessing_express/cctypes","AE,VI,MC,DI"
"payment/centralprocessing_express/sandbox_flag","1"
"payment/centralprocessing_express/trantype","WEBOBC"