path,value
"design/package/name", "wsu_base"
"design/theme/template", "spine-1.0"
"design/theme/skin","spine-1.0"
"design/theme/layout","spine-1.0"
"design/theme/default","spine-1.0"
"design/theme/locale",NULL
"design/head/default_title","WSU central shopping center"
"design/head/title_prefix",NULL
"design/head/title_suffix",NULL
"design/head/default_description","the Washington State University Central Store"
"design/head/default_keywords","Washington State University"
"design/head/default_robots","INDEX,FOLLOW"
"design/head/includes",NULL
"design/head/demonotice","0"
"design/header/logo_src","images/logo.gif"
"design/header/logo_alt","WSU central shopping center"
"design/header/welcome","Get more from your university.  Shop the Coug way."
"design/footer/copyright","&copy; 2012 University Web Communications - Jeremy Bass. All Rights Reserved."
"design/footer/absolute_footer",NULL
"design/watermark/image_size",NULL
"design/watermark/image_imageOpacity",NULL
"design/watermark/image_position","stretch"
"design/watermark/small_image_size",NULL
"design/watermark/small_image_imageOpacity",NULL
"design/watermark/small_image_position","stretch"
"design/watermark/thumbnail_size",NULL
"design/watermark/thumbnail_imageOpacity",NULL
"design/watermark/thumbnail_position","stretch"
"design/pagination/pagination_frame","5"
"design/pagination/pagination_frame_skip",NULL
"design/pagination/anchor_text_for_previous",NULL
"design/pagination/anchor_text_for_next",NULL
"design/email/logo_alt",NULL