path,value
"wsustructureddata/basicsettings/active","1"
"wsustructureddata/businessinformation/legalname","WSU"
"wsustructureddata/address/streetaddress",NULL
"wsustructureddata/address/postalcode",NULL
"wsustructureddata/address/locality",NULL
"wsustructureddata/address/countryname","US"
"wsustructureddata/address/tel",NULL
"wsustructureddata/address/email",NULL
"wsustructureddata/pos_address/haspos","0"
"wsustructureddata/pos_address/usefromcompany","1"
"wsustructureddata/pos_address/streetaddress",NULL
"wsustructureddata/pos_address/postalcode",NULL
"wsustructureddata/pos_address/locality",NULL
"wsustructureddata/pos_address/countryname","US"
"wsustructureddata/pos_address/tel",NULL
"wsustructureddata/pos_address/email",NULL
"wsustructureddata/offering/description",NULL
"wsustructureddata/customer_types/enduser","1"
"wsustructureddata/customer_types/business","1"
"wsustructureddata/customer_types/reseller","1"
"wsustructureddata/customer_types/publicinstitution","1"
"wsustructureddata/payment_options/byBankTransferInAdvance","0"
"wsustructureddata/payment_options/byInvoice","0"
"wsustructureddata/payment_options/cash","0"
"wsustructureddata/payment_options/checkinadvance","0"
"wsustructureddata/payment_options/cod","0"
"wsustructureddata/payment_options/directdebit","1"
"wsustructureddata/payment_options/googleCheckout","0"
"wsustructureddata/payment_options/paypal","0"
"wsustructureddata/payment_options/americanexpress","1"
"wsustructureddata/payment_options/dinersclub","0"
"wsustructureddata/payment_options/discover","1"
"wsustructureddata/payment_options/jcb","0"
"wsustructureddata/payment_options/mastercard","1"
"wsustructureddata/payment_options/visa","1"
"wsustructureddata/delivery_methods/dhl","0"
"wsustructureddata/delivery_methods/ups","0"
"wsustructureddata/delivery_methods/mail","0"
"wsustructureddata/delivery_methods/fedex","0"
"wsustructureddata/delivery_methods/directdownload","1"
"wsustructureddata/delivery_methods/pickup","0"
"wsustructureddata/delivery_methods/vendorfleet","0"
"wsustructureddata/delivery_methods/freight","1"
"wsustructureddata/strongid/strongid_type","ean13"
"wsustructureddata/strongid/strongid_db","1"
"wsustructureddata/strongid/strongid_dba","sku"
"wsustructureddata/validity/valid_period","3"
"wsustructureddata/validity/valid_through","tomorrow"
"webmastertools/analytics/active","1"
"webmastertools/analytics/account","UA-41835019-1"
"webmastertools/analytics/ga_verifi","J5p8Yx8Li1yaN41fhtvl1zzJVoApq1t67l1WdFNff4c"
"webmastertools/analytics/msvalidate","25281AAA75FA29A69B3D49C6FFB3B204"
"webmastertools/analytics/ms_apikey","e2bea98618ce4f8a97d0c87062d6fc9a"
"webmastertools/analytics/fb_admin","494506507310454"
"webmastertools/analytics/fb_og_iamge",NULL
"webmastertools/analytics/fb_og_sitename",NULL
"webmastertools/analytics/fb_og_title",NULL
"webmastertools/analytics/fb_og_type",NULL