path,value
"wsu_networksecurities/general/suspensionlength","1"
"wsu_networksecurities/general/attemptslimit","1"
"wsu_networksecurities/startup/require_login","0"
"wsu_networksecurities/honeypot/usehoneypots","0"
"wsu_networksecurities/honeypot/reporthoneypots","0"
"wsu_networksecurities/honeypot/checkhoneypots","0"
"wsu_networksecurities/honeypot/createhoneypot","0"
"wsu_networksecurities/errorpages/activeerror","0"
"wsu_networksecurities/honeypage/honeypage_error",NULL
"wsu_networksecurities/honeypage/honeypage_pot",NULL
"wsu_networksecurities/err500/active_err500","0"
"wsu_networksecurities/err404/active_err404","0"
"wsu_networksecurities/adminlogin/activeldap","0"
"wsu_networksecurities/adminlogin/allow_bypass","1"
"wsu_networksecurities/adminlogin/host","directory.ad.wsu.edu"
"wsu_networksecurities/adminlogin/version","3"
"wsu_networksecurities/adminlogin/port","389"
"wsu_networksecurities/adminlogin/tls","0"
"wsu_networksecurities/adminlogin/rootdn",NULL
"wsu_networksecurities/adminlogin/rootpassword",NULL
"wsu_networksecurities/adminlogin/userdn","OU=WSU Accounts,dc=ad,dc=wsu,dc=edu"
"wsu_networksecurities/adminlogin/filter",NULL
"wsu_networksecurities/adminlogin/cmpattr","cn"
"wsu_networksecurities/adminlogin/passattr","password"
"wsu_networksecurities/adminlogin/attr","{\"login\":\"cn\",\"firstname\":\"givenname\",\"mail\":\"mail\",\"lastname\":\"sn\"}"
"wsu_networksecurities/adminlogin/defaultroleid","20"
"wsu_networksecurities/adminlogin/autocreate","0"
"wsu_networksecurities/adminlogin/testusername","test.user"
"wsu_networksecurities/adminlogin/testuserpass","G123raffe()"
"wsu_networksecurities/customerlogin/activeldap","1"
"wsu_networksecurities/customerlogin/restricttoldap","0"
"wsu_networksecurities/customerlogin/host","directory.ad.wsu.edu"
"wsu_networksecurities/customerlogin/version","3"
"wsu_networksecurities/customerlogin/port","389"
"wsu_networksecurities/customerlogin/tls","0"
"wsu_networksecurities/customerlogin/rootdn",NULL
"wsu_networksecurities/customerlogin/rootpassword",NULL
"wsu_networksecurities/customerlogin/userdn","OU=WSU Accounts,dc=ad,dc=wsu,dc=edu"
"wsu_networksecurities/customerlogin/filter",NULL
"wsu_networksecurities/customerlogin/cmpattr","cn"
"wsu_networksecurities/customerlogin/passattr","password"
"wsu_networksecurities/customerlogin/attr",NULL
"wsu_networksecurities/customerlogin/defaultroleid",NULL
"wsu_networksecurities/customerlogin/autocreate","0"
"wsu_networksecurities/customerlogin/testusername",NULL
"wsu_networksecurities/customerlogin/testuserpass",NULL
"wsu_networksecurities/searcher/activeldap","0"
"wsu_networksecurities/searcher/host","directory.ad.wsu.edu"
"wsu_networksecurities/searcher/version","3"
"wsu_networksecurities/searcher/port","389"
"wsu_networksecurities/searcher/tls","0"
"wsu_networksecurities/searcher/rootdn",NULL
"wsu_networksecurities/searcher/rootpassword",NULL
"wsu_networksecurities/searcher/userdn","OU=WSU Accounts,dc=ad,dc=wsu,dc=edu"
"wsu_networksecurities/searcher/filter",NULL
"wsu_networksecurities/searcher/cmpattr","cn"
"wsu_networksecurities/searcher/passattr","password"
"wsu_networksecurities/searcher/attr","{\"login\":\"cn\",\"firstname\":\"givenname\",\"mail\":\"mail\",\"lastname\":\"sn\"}"
"wsu_networksecurities/searcher/defaultroleid",NULL
"wsu_networksecurities/searcher/searcherusername","AD\up_search"
"wsu_networksecurities/searcher/searcheruserpass","CougsrGreat!1"