path,value
"wsu_themecontrol_design/spine/spine_color","lightest"
"wsu_themecontrol_design/spine/spine_color","light"
"wsu_themecontrol_design/spine/spine_color","lightest"
"wsu_themecontrol_design/spine/spine_color","light"
"wsu_themecontrol/spine_social/slot_one","facebook"
"wsu_themecontrol/spine_social/slot_one_url","http://facebook.com/wsupullman"
"wsu_themecontrol/spine_social/slot_one_text","Facebook"
"wsu_themecontrol/spine_social/slot_two","twitter"
"wsu_themecontrol/spine_social/slot_two_url","http://twitter.com/wsupullman"
"wsu_themecontrol/spine_social/slot_two_text","Twitter"
"wsu_themecontrol/spine_social/slot_three","youtube"
"wsu_themecontrol/spine_social/slot_three_url","http://www.youtube.com/washingtonstateuniv"
"wsu_themecontrol/spine_social/slot_three_text","YouTube"
"wsu_themecontrol/spine_social/slot_four","social"
"wsu_themecontrol/spine_social/slot_four_url","http://social.wsu.edu"
"wsu_themecontrol/spine_social/slot_four_text","WSU Social List"